.weapons, .equipments {
    display: flex;
    flex-flow: row wrap;
}

.heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.catalog-item {
    cursor: pointer;
}
.catalog-item.selected {
    background-color: #E4E7F7;
}