<div class="title"></div>
<div class="ammo">
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
</div>
<div class="accuracy">
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
  <div class="line">
    <div class="label"></div>
    <div class="data"><dice [(data)]=""></dice></div>
  </div>
</div>
<div class="stats"></div>