<div class="wallet">
  <div class="picture"></div>
  <span class="h3">Nom : </span>_________<br>_______________
  <br>
  <span class="h3">Sexe : </span>________
  <br>
  <span class="h3">Age : </span>_________
  <br>
  <span class="h3">Nationalité : </span><br><br><br><br>
  <div class="flag"></div>
  <span class="h3">Origines : </span> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br>
</div>
<div class="wallet">
  <span class="h3">Traits : </span><br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br> ___________________________
  <br>
  <br>

  <span class="h3">Isolation :</span>
  <span>○○○○○○ + ___</span><br>
  <br>

  <span class="h3" style="display:inline-block;vertical-align:top;">Poids :</span>
  <span style="display:inline-block;">○○○○○○○○○○○○<br>○○○○○○○○○○○○</span><br>
  <br>

  <span class="h3" style="display:inline-block;vertical-align:top;">Argent :</span>
  <span class="money" style="display:inline-block;"></span><br>
  <br>
</div>
<div class="wallet">
  <span class="h1">Atouts/Défauts</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
  <span>______________________ ○○○</span>
</div>
<div class="lpanel">
  <div class="bag">
    <div class="medicine">
      <span class="h1 fa fa-medkit">&nbsp;Médecine</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
    </div>
    <div class="food">
      <span class="h1 fa fa-cutlery">&nbsp;Nourriture</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
    </div>
    <div class="tools">
      <span class="h1 fa fa-wrench">&nbsp;Outils</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
    </div>
    <div class="other">
      <span class="h1 fa fa-cogs">&nbsp;Divers</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
      <span>____________________________</span>
    </div>
  </div>
  <div class="health">
    <div class="silhouette"><img src="silhouette.png" alt=""></div>
    <div class="radiation">
      <span class="h2">Radiations</span>
      <div class="s-line">
        <div class="s-label"><span>Convulsions</span></div>
        <div class="s-holder">○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Ulcérations</span></div>
        <div class="s-holder">○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Perte cheveux</span></div>
        <div class="s-holder">○○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Nausées</span></div>
        <div class="s-holder">○○○○</div>
      </div>
    </div>
    <div class="endurance">
      <span class="h2">Endurance</span>
      <div class="s-line">
        <div class="s-label"><span>Inconscient</span></div>
        <div class="s-holder">○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Epuisé</span></div>
        <div class="s-holder">○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Essoufflé</span></div>
        <div class="s-holder">○○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Fatigué</span></div>
        <div class="s-holder">○○○○</div>
      </div>
    </div>
    <div class="madness">
      <span class="h2">Moral</span>
      <div class="s-line">
        <div class="s-label"><span>Folie</span></div>
        <div class="s-holder">○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Choqué</span></div>
        <div class="s-holder">○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Stressé</span></div>
        <div class="s-holder">○○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Nerveux</span></div>
        <div class="s-holder">○○○○</div>
      </div>
    </div>
    <div class="sickness">
      <span class="h2">Maladie</span>
      <div class="s-line">
        <div class="s-label"><span>Malaise</span></div>
        <div class="s-holder">○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Vomissements</span></div>
        <div class="s-holder">○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Nauséeux</span></div>
        <div class="s-holder">○○○</div>
      </div>
      <div class="s-line">
        <div class="s-label"><span>Fébrile</span></div>
        <div class="s-holder">○○○○</div>
      </div>
    </div>
  </div>
  <div class="artifacts"><span>ARTEFACT</span></div>
  <div class="artifacts"><span>ARTEFACT</span></div>
  <div class="artifacts"><span>ARTEFACT</span></div>
  <div class="artifacts"><span>ARTEFACT</span></div>
</div>
<div class="rpanel">
  <div class="weapon"><img src="clip.png" class="clip"><span>ARMES</span></div>
  <div class="equipment"><img src="clip.png" class="clip"><span>CASQUE</span></div>
  <div class="equipment"><img src="clip.png" class="clip"><span>VESTE</span></div>
  <div class="equipment"><img src="clip.png" class="clip"><span>PANTALON</span></div>
  <div class="equipment"><img src="clip.png" class="clip"><span>GANTS</span></div>
</div>