
@font-face {
    font-family: "stalker1";
    src: url("assets/fonts/stalker1.ttf") format("ttf")
}
@font-face {
    font-family: "stalker2";
    src: url("assets/fonts/stalker2.ttf") format("ttf")
}